/* Cores */
:root {
    --cor-primaria: rgb(53, 53, 53);
    --cor-secundaria: rgb(39, 39, 39);
    --cor-tela: rgb(216, 216, 216);
    --cor-botoes: rgb(53, 53, 63);
    --cor-apertar-botao: rgb(37, 37, 44);
}

* {
    font-family: verdana;
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora {
    border-radius: 20px;
    width: 425px;
    height: 620px;
    /* box-sizing: border-box; */
    box-shadow: 4px 4px 7px black;
    background-color: var(--cor-primaria);
    overflow: hidden; /* Esconde qualquer elemento que ultrapassar o tamanho da calculadora, como o topoTela, por exemplo */
}

#topoCalculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: var(--cor-secundaria);
}

.estiloTela {
    width: 70%;
    height: 50px;
    font-size: 1.5rem;
    padding-right: 10px;
    text-align: end;
    background-color: var(--cor-tela);
    color: rgba(0, 0, 0, 0.699);
}

#areaBotoes {
    height: 70%;
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

button {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    border-radius: 8px;
    border-style: outset;
    background-color: var(--cor-botoes);
    color: white;
    box-shadow: 2px 2px 3px black;
}

button:active {
    background-color: var(--cor-apertar-botao);
    transform: scale(0.90);
    color: yellow;
}

.clear {
    grid-area: span 1 / span 2;
}

.resultado {
    grid-area: 4 / 4 / span 2; /* começa na linha 4, coluna 4 e se espande por 2 linhas */
}

.zero {
    grid-area: 5 / 1 / 5 / span 2
}